/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,blockquote,cite,code,del,dfn,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,main,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: top; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {  line-height: 1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display: block;}
ul {
  list-style-type: none;}
table {
  border-collapse: collapse; border-spacing: 0;}
img {
  border: 0; max-width: 100%; height: auto;}
strong {
  font-weight: 700;}


/*Основные параметры*/

html,
body {
  width: 100%;
  height: 100%;
  font: 14px normal;
  margin: 0;
  padding:0;
}

body,
input,
select,
textarea { font-family: Helvetica, arial, freesans, clean, sans-serif; }

input,
textarea,
form:active,
input:focus { outline: none; }

nav,
aside,
footer,
header,
section { display: block; }

.main-menu {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

table {
  border-collapse: collapse;
  border: 0;
  padding: 0;
}

img { border: none; }

/*Кнопки*/

.button {
	height: 32px;
	font-size: 15px;
	font-family: Arial, sans-serif;
	border: 0;
	border-radius: 0 3px 3px 0;
  text-align: center;
  color: #fff;
  padding: 0px;
}

.button:active {
	
}


/*Поля*/

.field {
  border: 1px solid #999;
  font-size: 16pt;
  line-height: 24px;
  color: #000;
}

.field:hover,
.field:focus { outline: 1px solid #eee; }

/*Основные элементы*/

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: rgba(138, 138, 138, 0.42) 0 9px 6px -4px;
  transition: 400ms;
  z-index: 1;
	padding: 10px;
}

article[role=main] {
  top: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

#logo {
	display: inline-block;
	font-size: 0;
	line-height: 32px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-decoration: none;
	height: 32px;
	margin-right: 10px;
}

#logo__sign {
	width: 32px;
	height: 32px;
	margin-right: 5px;
	vertical-align: middle;
}

#logo__openstreetmap {
	font-size: 18px;
	color: #000;
	vertical-align: middle;
}

#logo__ru {
	font-size: 18px;
	color: #8a1;
	vertical-align: middle;
}

#topbar {
}

/*MAIN MENU*/

label { cursor: pointer; }

/* custom-dropdown */

nav {
	float: right;
}
    
nav a,
nav label { text-decoration:none; }
    
nav ul {
  padding: 0 20px;
  margin: 0 auto;
  list-style: none;
}

nav li {
  float: left;
  padding: 0 10px;
  text-align: center;
  transition: 400ms;
}

nav li:hover                     { color: #790; }
nav li:hover > a                 { color: #790; }
nav a {
  color: #8a0;
  display: block;
  height: 100%;

}
nav span { color: #8a0; }
.htp nav { height: 9px; }
.htp nav li:hover { height: 32px; }
.htp nav li:hover * { display: block; }

nav li:not(#current)         { cursor: pointer; }
